header
{
  background-color:#7585C3;
  text-align:center;
  color:white;
  padding: 30px;
}

h1{
  color:white;
  font-size:40px;
  text-align:center;
}

div {
  background-color: black;
}
a:link, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: grey;
}
a.one{margin-left:1000px}

footer {
  background-color: black;
  padding: 0px;
  text-align:left;
  color: white;
}
a.five:link {color:white;text-decoration:none;}
a.five:visited {color:#0000ff;text-decoration:none;}
a.five:hover {text-decoration:underline;}

p.copyright
{
  display: inline-block;
  margin-left:46%;
}

/* Style buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

